<section class="hero-box">
    <h2>Welcome to CSE Motors!</h2>
    <div id="ad-box">
        <ul>
            <li id="title">DMC Delorean</li>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button>Own Today</button>
        <figure>
            <img src="/public/images/vehicles/delorean.jpg" alt="delorean picture" loading="eager" width="100vw">
        </figure>
    </div>
</section>
<section id="reviews-box">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast! It's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</section>
<section id="upgrades-box">
    <h2>Delorean Upgrades</h2>
    <div class="upgrade-card">
        <figure>
            <img src="/public/images/upgrades/flux-cap.png" alt="flux capacitor" loading="lazy">
        </figure>
        <a href="/" title="flux capacitor link">Flux Capacitor</a>
    </div>
    <div class="upgrade-card">
        <figure>
            <img src="/public/images/upgrades/flame.jpg" alt="flame decals" loading="lazy">
        </figure>
        <a href="/" title="flame decals link">Flame Decals</a>
    </div>
    <div class="upgrade-card">
        <figure>
            <img src="/public/images/upgrades/bumper_sticker.jpg" alt="bumper stickers" loading="lazy">
        </figure>
        <a href="/" title="bumper stickers link">Bumper Stickers</a>
    </div>
    <div class="upgrade-card">
        <figure>
            <img src="/public/images/upgrades/hub-cap.jpg" alt="hub cap" loading="lazy">
        </figure>
        <a href="/" title="Hub Caps link">Hub Caps</a>
    </div>
</section>
